<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>
<% if current_user.admin? == true %>
<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">
        Comments
      </li>

      <% @user.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == comment.user || current_user.admin? == true %>
              <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">
        Photos
      </li>

      <% @user.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == photo.user || current_user.admin? == true %>
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many bookmarked_locations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">
        Bookmarked Locations
      </li>

      <% @user.bookmarked_locations.each do |location| %>
        <li class="list-group-item">
          <a href="/locations/<%= location.id %>">
            <%= location.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/locations/<%= location.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/locations/<%= location.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location/<%= location.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<<% else %>
<h2>Sorry, only admins can view this page. </h2>
<% end %>
